<div class="banner">
</div>

<div class="text">
  <h1>All your favorite sports classes in one place</h1>
  <h2>Ready to jump in?</h2>
</div>

<div class="container ">
  <div class="sportcards ">
    <% @sport_sessions.each do |session| %>

      <div class="card p-3">
        <% if session.photo.present?  %>
          <%= cl_image_tag session.photo.key, crop: :fill %>
        <% end %>

        <div class="text">
          <h3><%= session.title.upcase %></h3>
          <p><%= session.start_time%></p>
          <p><%= session.price%></p>
          <p>Max. <%= session.capacity %> attendees</p>
        </div>
        <%= link_to "More info", session, class: "custombtn btn" %>
      </div>
    <% end %>
  </div>
</div>


<h2>Discover more category</h2>
<br>
<br>

<div class="d-flex bd-highlight">
  <div class="p-2 bd-highlight">
    <div class="category" style="background-image: url('https://images.unsplash.com/photo-1502680390469-be75c86b636f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80')">
      <h5><strong>SURFING</strong></h5>
    </div>
  </div>
  <div class="p-2 bd-highlight">
    <div class="category" style="background-image: url('https://images.unsplash.com/photo-1507035895480-2b3156c31fc8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80')">
      <h5><strong>BIKING</strong></h5>
    </div>
  </div>
  <div class="p-2 bd-highlight">
    <div class="category" style="background-image: url('https://images.unsplash.com/photo-1550035213-ad21a6cf4288?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80')">
      <h5><strong>SKATING</strong></h5>
    </div>
  </div>
</div>
