<h1>All your favorite sports classes</h1>
<h2>Ready to jump in?</h2>

<div class="container">
  <% @sport_sessions.each do |session| %>
    <%= link_to sport_session do %>
      <%= session.sport %>
      <%= session.title %>
      <%= session.duration %>
      <%= session.capacity %>
      <button class="btn btn-outline-success" type="button">More info</button>
    <% end %>
  <% end %>
</div>



contenido de HTML
