<h1>All your favorite sports classes in one place</h1>
<h2>Ready to jump in?</h2>

<div class="container ">
  <div class="sportcards">
    <% @sport_sessions.each do |session| %>
      <%= link_to session do %>
      <div class="card">
          <%= session.sport %><br>
          <%= session.title %><br>
          <%= session.duration %><br>
          <%= session.capacity %><br>
          <button class="btn btn-outline-success" type="button">More info</button>

      </div>
      <% end %>
    <% end %>
  </div>

</div>
