<div class="container mt-4 mb-4">
  <div class="row">
    <div class="col-6">
      <%= cl_image_tag @sport_session.photo.key, crop: :fill, id:"sportpic" %>
    </div>

    <div class="col-6">

      <div class="text">
        <h1><%= @sport_session.title%></h1>
        <h4><%= @sport_session.description%></h4>
        <p>$<%= @sport_session.price.round%></p>

        <div class="d-flex flex-row bd-highlight">
          <div class="bd-highlight"><p>60min --</p></div>
          <div class="bd-highlight ml-1"><p>Max <%= @sport_session.capacity%> people</p></div>
        </div>
      </div>

      <div class="form">
        <%= simple_form_for [ @sport_session, @booking ] do |f| %>
        <select class="form-control" name="booking_date">
          <option value="2020-11-25T12:00:00">Wednesday, Nov 25</option>
          <option value="2020-11-27T12:00:00">Friday, Nov 27</option>
          <option value="2020-11-30T12:00:00">Monday, Nov 30</option>
        </select>
        <br>
        <%= f.submit "Book me", class: "formbtn btn btn-block"%>
        <%= link_to "Changed your mind?", sport_sessions_path, class: "changemindbtn btn" %>

        <% end %>
        <br>
        <br>
      </div>
    </div>

    <div class="container mt-4 border-top">
      <br>
      <br>
      <h1>Location</h1>

      A MAP IN COMING
    </div>
  </div>
</div>


