<div class="container">
  <class class="row">
    <div class="col-6">
      <div class="spot-image" style="height: 600px; background-image: url('https://images.unsplash.com/photo-1599447292411-637efa33e046?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80')">
      </div>
    </div>

    <div class="col-6">

      <div class="text">
        <h1><%= @sport_session.title%></h1>
        <p><%= @sport_session.start_time%></p>
        <p><%= @sport_session.price%></p>
      </div>

      <div class="form">
        <%= simple_form_for [ @sport_session, @booking ] do |f| %>
        <select class="form-control" name="booking_date">
          <option value="2020-11-18T12:00:00">Wednesday, Nov 18</option>
          <option value="2020-11-20T12:00:00">Friday, Nov 20</option>
          <option value="2020-11-25T12:00:00">Wednesday, Nov 25</option>
        </select>
        <br>
        <%= f.submit "Book me", class: "btn btn-primary" %>
        <% end %>

      </div>

    </div>
  </class>

</div>


